# Business Store

In [1]:
#importing Libraries
import pandas as pd
import numpy as np

In [2]:
pwd

'E:\\Data Science\\Cloth Factory'

In [8]:
#Reading the train file from the memory
train=pd.read_csv('E:\\Data Science\\Cloth Factory\\train.csv')

In [9]:
#It will print the first 5 lines if we don't mention the number of lines it should print in head() from train file
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [10]:
#Reading the test file  from the memory
test=pd.read_csv('E:\\Data Science\\Cloth Factory\\test.csv')

In [11]:
#It will print the first 5 lines if we don't mention the number of lines it should print in head() from test file
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [12]:
#Creating another list and storing the values  of train and test separately so that it can be differentiated
train['source']='train'
test['source']='test'

#train.head()
#In the above scode i.e between test.head() and train.head() it will execute only on command i.e which is coded at the last line
#print line is used to print both test and train
print (test.head(),train.head())

  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility    Item_Type  \
0           FDW58       20.750          Low Fat         0.007565  Snack Foods
1           FDW14        8.300              reg         0.038428        Dairy
2           NCN55       14.600          Low Fat         0.099575       Others
3           FDQ58        7.315          Low Fat         0.015388  Snack Foods
4           FDY38          NaN          Regular         0.118599        Dairy

   Item_MRP Outlet_Identifier  Outlet_Establishment_Year Outlet_Size  \
0  107.8622            OUT049                       1999      Medium
1   87.3198            OUT017                       2007         NaN
2  241.7538            OUT010                       1998         NaN
3  155.0340            OUT017                       2007         NaN
4  234.2300            OUT027                       1985      Medium

  Outlet_Location_Type        Outlet_Type source
0               Tier 1  Supermarket Type1   test
1               Tier 2  Supermarket Type1   test
2               Tier 3      Grocery Store   test
3               Tier 2  Supermarket Type1   test
4               Tier 3  Supermarket Type3   test     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0           FDA15         9.30          Low Fat         0.016047
1           DRC01         5.92          Regular         0.019278
2           FDN15        17.50          Low Fat         0.016760
3           FDX07        19.20          Regular         0.000000
4           NCD19         8.93          Low Fat         0.000000

               Item_Type  Item_MRP Outlet_Identifier  \
0                  Dairy  249.8092            OUT049
1            Soft Drinks   48.2692            OUT018
2                   Meat  141.6180            OUT049
3  Fruits and Vegetables  182.0950            OUT010
4              Household   53.8614            OUT013

   Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                       1999      Medium               Tier 1
1                       2009      Medium               Tier 3
2                       1999      Medium               Tier 1
3                       1998         NaN               Tier 3
4                       1987        High               Tier 3

         Outlet_Type  Item_Outlet_Sales source
0  Supermarket Type1          3735.1380  train
1  Supermarket Type2           443.4228  train
2  Supermarket Type1          2097.2700  train
3      Grocery Store           732.3800  train
4  Supermarket Type1           994.7052  train

In [13]:
#Combining both test and train files in a single file called data using concatenation function
data=pd.concat([train,test],ignore_index=True,sort=True)
#To print all together we should use print() and combine all values inside the print()
print (train.shape , test.shape , data.shape)

(8523, 13) (5681, 12) (14204, 13)

In [14]:
#(8523,13) indicates that first element i.e 8523 indicates rows and 13 indicates columns

In [15]:
#It will describe the whole content of a file
data.describe()

,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,Outlet_Establishment_Year
count,14204.000000,8523.000000,14204.000000,11766.000000,14204.000000
mean,141.004977,2181.288914,0.065953,12.792702,1997.830681
std,62.086938,1706.499616,0.051459,4.652334,8.371664
min,31.290000,33.290000,0.000000,4.555000,1985.000000
25%,94.012000,834.247400,0.027036,8.710000,1987.000000
50%,142.247000,1794.331000,0.054021,12.600000,1999.000000
75%,185.855600,3101.296400,0.094037,16.750000,2004.000000
max,266.888400,13086.964800,0.328391,21.350000,2009.000000

In [16]:
#It will print the number of null values present in the data file
data.apply(lambda y:sum(y.isnull()))

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility                 0
Item_Weight                  2438
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                  4016
Outlet_Type                     0
source                          0
dtype: int64

In [17]:
#It will print the unique values in the file
data.apply(lambda x:len(x.unique()))

Item_Fat_Content                 5
Item_Identifier               1559
Item_MRP                      8052
Item_Outlet_Sales             3494
Item_Type                       16
Item_Visibility              13006
Item_Weight                    416
Outlet_Establishment_Year        9
Outlet_Identifier               10
Outlet_Location_Type             3
Outlet_Size                      4
Outlet_Type                      4
source                           2
dtype: int64

In [18]:
#Filtering the variables based on category
categorical_columns=[x for x in data.dtypes.index if data.dtypes[x]=='object']
#Excluding ID columns and source
categorical_columns=[x for x in categorical_columns if x not in ['Item_Identifier','Outlet_Identifier','source']]
#Printing Frequency of Categories whichever pressent in the col by applying for loop
for col in categorical_columns:
    print( '\n Frequency of categories for variable %s'%col)
    print (data[col].value_counts())

 Frequency of categories for variable Item_Fat_Content
Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64

 Frequency of categories for variable Item_Type
Fruits and Vegetables    2013
Snack Foods              1989
Household                1548
Frozen Foods             1426
Dairy                    1136
Baking Goods             1086
Canned                   1084
Health and Hygiene        858
Meat                      736
Soft Drinks               726
Breads                    416
Hard Drinks               362
Others                    280
Starchy Foods             269
Breakfast                 186
Seafood                    89
Name: Item_Type, dtype: int64

 Frequency of categories for variable Outlet_Location_Type
Tier 3    5583
Tier 2    4641
Tier 1    3980
Name: Outlet_Location_Type, dtype: int64

 Frequency of categories for variable Outlet_Size
Medium    4655
Small     3980
High      1553
Name: Outlet_Size, dtype: int64

 Frequency of categories for variable Outlet_Type
Supermarket Type1    9294
Grocery Store        1805
Supermarket Type3    1559
Supermarket Type2    1546
Name: Outlet_Type, dtype: int64

# Data Cleaning

# Imputation

In [19]:
#It will determine the average of the tem and store the value in item_avg_weight
item_avg_weight=data.pivot_table(values='Item_Weight',index='Item_Identifier')

In [20]:
item_avg_weight.head()

                 Item_Weight
Item_Identifier
DRA12                 11.600
DRA24                 19.350
DRA59                  8.270
DRB01                  7.390
DRB13                  6.115

In [21]:
#It will print either true or false specifying the item weight values
miss_bool=data['Item_Weight'].isnull()
miss_bool.head()

0    False
1    False
2    False
3    False
4    False
Name: Item_Weight, dtype: bool

In [22]:
#Impute data and check missing values before and after imputation to confirm
print('Original value:%d'%sum(miss_bool))
#data.loc[miss_bool,'Item Weight']=data.loc[miss_bool,'Item_Identifier'].apply(lambda x:item_avg_weight[x])
#print('Final Missing :%d'%sum(data['Item_Weight'].isnull()))

Original value:2438

In [23]:
#importing mode function
from scipy.stats import mode
#Determining the mode for each
outlet_size_mode=data.pivot_table(values='Outlet_Size',columns='Outlet_Type',aggfunc=(lambda x:mode(x).mode[0]))
outlet_size_mode

Outlet_Type,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
Outlet_Size,Small,Small,Medium,Medium

In [24]:
miss_bool=data['Outlet_Size'].isnull()
miss_bool

0        False
1        False
2        False
3         True
4        False
         ...
14199    False
14200    False
14201     True
14202     True
14203     True
Name: Outlet_Size, Length: 14204, dtype: bool

In [25]:
#Printing original missing values
print("Original missing value:%d"%sum(miss_bool))

Original missing value:4016

In [26]:
data.loc[miss_bool,'Outlet_Size']=data.loc[miss_bool,'Outlet_Type'].apply(lambda x:outlet_size_mode[x])

In [27]:
sum(data['Outlet_Size'].isnull())

0

In [28]:
#Combining all the above function after importing mode to get a detailed understanding
#importing mode function
from scipy.stats import mode
#Determining the mode for each
outlet_size_mode=data.pivot_table(values='Outlet_Size',columns='Outlet_Type',aggfunc=(lambda x:mode(x).mode[0]))
print("OUtlet SIze:%s"%outlet_size_mode)
miss_bool=data['Outlet_Size'].isnull()
#Printing original missing values
print("Original missing value:%d"%sum(miss_bool))
data.loc[miss_bool,'Outlet_Size']=data.loc[miss_bool,'Outlet_Type'].apply(lambda x:outlet_size_mode[x])
print("Final Missing values") 
sum(data['Outlet_Size'].isnull())

OUtlet SIze:Outlet_Type Grocery Store Supermarket Type1 Supermarket Type2  \
Outlet_Size         Small             Small            Medium

Outlet_Type Supermarket Type3
Outlet_Size            Medium
Original missing value:0
Final Missing values

0

# Feature Engineering

# Considering Combining Categories

In [29]:
#It will  by Outlet type
date=data.pivot_table(values='Item_Outlet_Sales',index='Outlet_Type')
date

                   Item_Outlet_Sales
Outlet_Type
Grocery Store             339.828500
Supermarket Type1        2316.181148
Supermarket Type2        1995.498739
Supermarket Type3        3694.038558

In [30]:
#Descibe the whole outlet sales
date.describe()

       Item_Outlet_Sales
count           4.000000
mean         2086.386736
std          1377.930350
min           339.828500
25%          1581.581180
50%          2155.839944
75%          2660.645500
max          3694.038558

In [31]:
visibility_avg=data.pivot_table(values='Item_Visibility',index='Item_Identifier')
visibility_avg.head()

                 Item_Visibility
Item_Identifier
DRA12                   0.034938
DRA24                   0.045646
DRA59                   0.133384
DRB01                   0.079736
DRB13                   0.006799

In [32]:
miss_bool=(data['Item_Visibility'].isnull())

In [33]:
#printing Number f 0's initially
print("Number of 0's initally:%s"%sum(miss_bool))

Number of 0's initally:0

In [35]:
#data['Item_Visibility_MeanRatio']=data.apply(lambda x:x['Item_Visibilty']/visibility_avg[x['Item_Identifier']],axis=1)

In [36]:
data['Item_Identifier'].value_counts()

FDS12    10
FDC14    10
DRF01    10
FDX50    10
FDD46    10
         ..
FDX49     7
FDI46     7
FDM50     7
FDS22     7
NCL42     7
Name: Item_Identifier, Length: 1559, dtype: int64

In [37]:
data['Item_Type_Combined']=data['Item_Identifier'].apply(lambda x:x[0:2])

In [38]:
data['Item_Type_Combined']=data['Item_Identifier'].apply(lambda x:x[0:2])
data['Item_Type_Combined']=data['Item_Type_Combined'].map({'FD':'Food','NC':'NON-CONSUMABLE','DR':'DRINKS'})
data['Item_Type_Combined'].value_counts()

Food              10201
NON-CONSUMABLE     2686
DRINKS             1317
Name: Item_Type_Combined, dtype: int64

In [39]:
#IT will print the years of experience the outlet has in the business
data['Outlet_Years']=2011- data['Outlet_Establishment_Year']
data['Outlet_Years'].describe()

count    14204.000000
mean        13.169319
std          8.371664
min          2.000000
25%          7.000000
50%         12.000000
75%         24.000000
max         26.000000
Name: Outlet_Years, dtype: float64

In [40]:
print ("Original Categories")
data['Item_Fat_Content'].value_counts()

Original Categories

Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64

In [41]:

p=data['Item_Fat_COuntent']=data['Item_Fat_Content'].replace({'LF':'Low Fat',
                                                            'reg':'Regular','low fat':'Low fat'})

In [42]:
print("MOdified")
p.value_counts()

MOdified

Low Fat    9007
Regular    5019
Low fat     178
Name: Item_Fat_Content, dtype: int64

In [43]:
#Marking NON_COnsumable as seperate category in low fat
data.loc[data['Item_Type_Combined']=="Non-Consumable",'Item_Fat_Content']="Non-Edible"
data['Item_Fat_Content'].value_counts()

Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64

In [44]:
#Importing Label Encoder Library
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [45]:
data['Outlet']=le.fit_transform(data['Outlet_Identifier'])

In [46]:
data['Outlet_Identifier'].value_counts()

OUT027    1559
OUT013    1553
OUT035    1550
OUT046    1550
OUT049    1550
OUT045    1548
OUT018    1546
OUT017    1543
OUT010     925
OUT019     880
Name: Outlet_Identifier, dtype: int64

In [47]:
var_mod=['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Item_Type_Combined','Outlet_Type','Outlet']
le=LabelEncoder()
for i in var_mod:
    data[i]=le.fit_transform(data[i])

In [48]:
data=pd.get_dummies(data,columns=['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Outlet_Type','Item_Type_Combined','Outlet'])

In [49]:
data.dtypes

Item_Identifier               object
Item_MRP                     float64
Item_Outlet_Sales            float64
Item_Type                     object
Item_Visibility              float64
Item_Weight                  float64
Outlet_Establishment_Year      int64
Outlet_Identifier             object
source                        object
Outlet_Years                   int64
Item_Fat_COuntent             object
Item_Fat_Content_0             uint8
Item_Fat_Content_1             uint8
Item_Fat_Content_2             uint8
Item_Fat_Content_3             uint8
Item_Fat_Content_4             uint8
Outlet_Location_Type_0         uint8
Outlet_Location_Type_1         uint8
Outlet_Location_Type_2         uint8
Outlet_Size_0                  uint8
Outlet_Size_1                  uint8
Outlet_Size_2                  uint8
Outlet_Type_0                  uint8
Outlet_Type_1                  uint8
Outlet_Type_2                  uint8
Outlet_Type_3                  uint8
Item_Type_Combined_0           uint8
Item_Type_Combined_1           uint8
Item_Type_Combined_2           uint8
Outlet_0                       uint8
Outlet_1                       uint8
Outlet_2                       uint8
Outlet_3                       uint8
Outlet_4                       uint8
Outlet_5                       uint8
Outlet_6                       uint8
Outlet_7                       uint8
Outlet_8                       uint8
Outlet_9                       uint8
dtype: object

In [50]:
data[['Item_Fat_Content_0','Item_Fat_Content_1','Item_Fat_Content_2']].head()

   Item_Fat_Content_0  Item_Fat_Content_1  Item_Fat_Content_2
0                   0                   1                   0
1                   0                   0                   1
2                   0                   1                   0
3                   0                   0                   1
4                   0                   1                   0